
.grammar-container__row{
    justify-content: space-between;
}
.header-grammar{
    position: fixed;
    height: 80px;
    font-size: 1.6rem;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    color: #333;
    padding: 0 30px;
    box-shadow: rgba(169, 166, 185, 0.15) 0px 48px 100px 0px;
    border: 1px solid #e2dcdc;
    overflow: hidden;
}

.grammar-logo {
    width: 100px;
    height: 80px;
}

.grammar-logo img{
    width: auto;
    height: 100%;
}

.grammar-acc_vip{
    font-size: 1rem;
    background-color: var(--color);
    padding: 6px 10px;
    border-radius: 20px;
    color: var(--color-white);
}   

.grammar-acc_vip:hover{
    background-color: #fff;
    color: green;
    border: 1px solid var(--color);
}

.grammar-acc_vip:hover h2{
    color: var(--color);
}

.grammar-acc_vip h2{
    color: #fff;
}


.grammar-acc_current{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.grammar-acc_current img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


/* Start Grammar Content  */
.grammar-content{
    width: 100%;
    background-color: var(--color-white);
    color: #333;
    font-size: 1.6rem;
    margin-top: 80px;
}

.grammar-content__container{
    position: relative;
    justify-content: space-between;
    background-color: rgb(253, 253, 253);
    align-items: flex-start;
    padding: 15px 0;
    height: 615px;
}

.grammar-option{
    position: fixed;
    top: 80px;
    width: 100px;
    font-size: 1.2rem;
    padding: 0;
    font-weight: 600;
}
.grammar-option ul{
    width: fit-content;
    background-color: var(--color-white);
    border: 0.5px solid rgb(224, 224, 224);
}
.grammar-option a{
    display: block;
    color: #333;
    padding: 10px 3px;
    color: gray;
}

.grammar-option a:hover{
    background-color: rgb(235, 233, 233);
    color: black;
}
.grammar-input{
    font-size: 1.6rem;
    margin-left:200px;
}
.grammar-input .input-box{
    position: relative;
    width: 100%;
    height: 350px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input-box textarea{
    position: relative;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    padding: 20px;
    resize: none;
}
.input-option{
    position: absolute;
    width: 100px;
    top: 15px;
    left: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
}

.input-option button{
    font-size: 2.5rem;
}

.input-option button:first-child{
    color: green;
}
.input-option button:last-child{
    color: red;
}
